body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Wolves
      ul.nav.navbar-nav
        li
          a(href='/howls') Howls awoo!
  .container
    main(role="page-container")
