body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Wolves
      ul.nav.navbar-nav(role='nav-items')
        li
          a(href='/') Home
        li
          a(href='/howls') Howls
        li
          a(href='/auth/login') Login
  .container
    main(role="page-container")
